<!DOCTYPE html>
<html>
  <head>
    <title>Signup-Login Page</title>
    <meta charset="UTF-8" />
    <title>Slide Navbar</title>
    <link rel="stylesheet" type="text/css" href="signin-login.component.css" />
  </head>
  <body>
    <div class="main">
      <input type="checkbox" id="chk" aria-hidden="true"/>
      <div class="signup">
        <label for="chk" aria-hidden="true">Sign up</label>

        <input
          type="text"
          name=""
          placeholder="User name"
          required=""
          id="userName"
        />

        <input
          type="email"
          name=""
          placeholder="Email"
          required=""
          id="email"
        />

        <input
          type="text"
          name=""
          placeholder="Mobile Number"
          required=""
          id="mobileNumber"
        />

        <input
          type="password"
          placeholder="Password"
          required=""
          name=""
          id="password"
        />

        <button id="btn" style="margin-top: 32px ;">Sign up</button>
      </div>
      <div class="login">
        <label for="chk" aria-hidden="true">Login</label>
        <input
          type="username"
          name="username"
          id="username"
          placeholder="Username"
          required=""
        />

        <input
          type="password"
          name="passwordlogin"
          id="passwordlogin"
          placeholder="Password"
          required=""
        />

        <button id="login">Login</button>
      </div>
    </div>
  </body>
</html>
